---
layout: 'deck_unit'
title: "Knowledge of Colour: a Question"
tags: []
description: "How does knowledge that these things are blue (say) but that is not emerge?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

section.slide
  .notes Let me start with something quite basic.
  .notes Here are three patches of colour.
  .notes The patches are all different colours, but the two leftmost are both the same colour---they are both blue.
  .notes This sounds contradictory but isn't.
  .notes In one case we're talking about the particular colours of things; in the other case we're talking about colour category.
  .notes &nbsp;
  .notes The question I want to ask about knowledge of colour concerns these cateories. 
  .notes You know that these two are both blue whereas this is not (it's green).
  .notes How do you come to know this?
  .notes (Ask them to discuss.)
  .notes Does anyone thing the answer is that you can just see it?  As we'll see, that idea looks promising initiall but it's not quite that simple.
  .words: .middle
    .container_12
      .grid_4
        mixin colour-box('rgb(51,153,255)', 100)
        p.center 2.5B
      .grid_4
        mixin colour-box('rgb(85,100,255)', 100)
        p.center 7.5BG
      .grid_4
        mixin colour-box('rgb(42,162,42)', 100)
        p.center 2.5BG
