---
layout: 'deck_unit'
title: "Permanence"
tags: []
description: "There is evidence that abilities to represent unperceived objects appear early in infancy, from four months of age or earlier.  These abilities might be explained by principles like cohesion and continuity."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

// idea of this unit is to recap Permanence and stress relevance of principles


+slide
  .notes Permanence is a matter of living in a world where things don't go out of existence when unperceived.
  .notes You may not be perceiving your keys now, but there is a fact of the matter about where they are and you know this.  (If not where they are, then at least you know that there is a fact about where they are.)
  p object permanence again
  .slide
    p ‘young infants’ physical world, like adults’, includes both visible [perceived] and hidden objects’
    p.right (Wang et al 2004, p. 194)
    .slide
      .notes Object permanence is found in nonhuman animals including
      p.handout.show Object permanence is found in nonhuman animals including
      .handout.notes \begin{enumerate}
      ul
        li monkeys 
          span.grey-text (Santos et al 2006)
          .handout.notes \item monkeys \citep{santos:2006_cotton-top}
        li lemurs  
          span.grey-text (Deppe et al 2009)
          .handout.notes \item lemurs \citep{deppe:2009_object}
        li crows 
          span.grey-text (Hoffmann et al 2011)
          .handout.notes \item crows \citep{hoffmann:2011_ontogeny}
        li dogs and wolves
          span.grey-text (Fiset et al 2013)
          .handout.notes \item dogs and wolves \citep{fiset:2013_object}
        li cats 
          span.grey-text (Triana & Pasnak 1981)
          .handout.notes \item cats \citep{triana:1981_object}
        li chicks 
          span.grey-text (Chiandetti et al 2011)
          .handout.notes \item chicks \citep{chiandetti:2011_chicks_op}        
        li dolphins 
          span.grey-text (Jaakkola et al 2010)
          .handout.notes \item dolphins \citep{jaakkola:2010_what}
        li ...
        .handout.notes \item ...
      .handout.notes \end{enumerate}
      .notes (Wolves matter because their performing similarly to dogs that show dogs' performance probably isn't a consequence of domestication, as \citet{fiset:2013_object} argue.)
      .notes Most of these animals have been tested using search as the measure, rather than looking times.
        |  (This will be important later.)
      .notes &nbsp;
      .notes Note also that many of these studies contrast visible with invisible displacements, or talk about Piaget's stages of object permanence.  For simplicity, that's not something I'm covering.

section.slide
  .notes [Aside] Comparative research is hard.
  img.bkg(src='/img/IMG_5022.JPG')
  .top-half-black
  .words: .container_12: .grid_12
    p ‘The real difficulty is that there is no reward for the great majority of cats in retrieving an unmoving, silent, odor-free, covered-up object from which their attention has been distracted, and hence the cats will not show that they know where it is.’
    p.right (Triana & Pasnak 1981, p. 138)

+slide
  .notes Earlier I explained that there is evidence that infants represent unperceived objects from around four months.
  .notes At that point I mentioned just one experiment, Baillargeon's drawbridge study.
  .notes This is now very familiar to most of us.
  .img1(style="overflow:hidden;max-width:350px;max-height:200px;")
    img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;max-height:527px;")
  .img2(style="overflow:hidden;max-width:350px;")
    img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;")
  .img3.hide
    img(src='/img/baillargeon_1987_fig1.png', style="max-width:700px;")
  p.source Baillargeon et al (1987, figure 1)
  .notes 'The habituation event was exactly the same as the impossible event, except that the yellow box was absent.' (Baillargeon et al 1985, 200)
  +showremove('.img2','.img1')
  +showremove('.img3','.img2')
  .notes But not everything hangs on this experiment.
  .notes Some have been critical of its methods.
  .notes Fortunately there are at least a hundred further experiments which provide evidence pointing in the same direction.
  .notes Here we'll look at just one more experiment.
      
+slide
  .notes Here is another way of demonstrating object permanence.
  .notes The subjects were 4 month old infants.
  .notes They were shown a large object disappearing inside a small conatiner, or behind a narrow screen.
  .img071-1(style="overflow:hidden;max-height:210px;")
    img(src='/img/wang_2004_fig1a.png', style='max-width:700px')
  .img071-2.hide.step2(style="overflow:hidden;max-height:250px;")
    img(src='/img/wang_2004_fig1a.png',style="max-width:700px;position:relative;top:-210px;")
  p.source Wang et al (2004, figure 1)
  +show('.step2')

+slide  
  .notes The experiment was very simple.
  .notes All the experimenters did was measure how long infants looked in at the two events.
  .notes Infants looked longer at the narrow-occulder event.
  .img071-3(style="overflow:hidden;max-width:280px;")
    img(src='/img/wang_2004_fig2a.png', style='max-width:496px')
  p.source Wang et al (2004, figure 2)
 
+slide
  .notes There was also a control condition.
  .notes In the control condition, infants saw a small rather than a large object.
  p Control condition
  img(src='/img/wang_2004_fig1b.png')
  p.source Wang et al (2004, figure 1)

+slide
  .notes Here’s the experimental condition again for comparison.
  p Experimental condition
  img(src='/img/wang_2004_fig1a.png')
  p.source Wang et al (2004, figure 1)
  
+slide
  .notes And here's the control condition again.
  p Control condition
  img(src='/img/wang_2004_fig1b.png')
  p.source Wang et al (2004, figure 1)

+slide  
  .notes As you can see, there was a difference in looking times only in the experimental condition.
  img(src='/img/wang_2004_fig2a.png', style='max-width:496px')
  p.source Wang et al (2004, figure 2)
  .notes This experiment is interesting because it doesn't use habituation, as Baillargeon's earlier drawbridge experiment did.
    
+slide
  .notes How should we interpret these results?
  .handout Interpreting violation-of-expectation experiments: 
  .handout ‘evidence that infants look reliably longer at the unexpected than at the expected event is taken to indicate that they (1) possess the expectation under investigation; (2) detect the violation in the unexpected event; and (3) are surprised by this violation. The term surprise is used here simply as a short-hand descriptor, to denote a state of heightened attention or interest caused by an expectation violation.’
  .handout.ctd \citep[p.\ 168]{wang:2004_young}
  p ‘evidence that infants look reliably longer at the unexpected than at the expected event is taken to indicate that they
  p ‘(1) possess the 
    span.highlight2 expectation
    span  under investigation; 
  p ‘(2) detect the violation in the unexpected event; and 
  p ‘(3) are 
    span.highlight1 surprised 
    span by this violation.’ 
  p.em-above.step2.hide ‘The term surprise is used here simply as a short-hand descriptor, to denote a state of heightened attention or interest caused by an 
    span.highlight2 expectation
    span   violation.’
  p.right (Wang et al 2004, p. 168)
  +invert('.highlight1')
  +show('.step2')
  +words-bkg('.highlight2','yellow')
  .notes Note that we are talking about expectations.
  .notes This raises two questions: How do we arrive at these expectations? and What is an expectation?
  .notes Spelke's claim is that we arrive at these expectations by inference from the Principles of Object Perception, including the principle of contintuity.
  .notes So what is an expectation?  
  .notes On the simple view we are adopting for now, an expectation is just a belief.
  .notes The attraction of this simple view is it allows us to take literally the claim that we know the principles of object perception and arrive at expectations by a process of inference.

+slide
  .notes *todo*
  p.handout.show ‘To make sense of such results [i.e. the results from violation-of-expectation tasks], we … must assume that infants, like older learners, 
    span.highlight1 formulate … hypotheses
    span  about physical events and 
    span.highlight2 revise and elaborate these hypotheses in light of additional input
    span .’
  .handout.ctd \citep[p.\ 329]{Aguiar:2002ob}
  p.right (Aguiar and Baillargeon 2002: 329).
  +words-bkg('.highlight1','pink')
  +words-bkg('.highlight2','blue')

+slide_middle
  .notes The simple view is that the principles of object perception that Spelke and others have identified are things that we know,
  .notes and that we generate expectations from these principles by a process of inference.
  p.center
    span.step2.hide scientific 
    span.linethrough1 intuitive
    span  reservations about the simple view
  .notes Is this plausible?
  .notes It is perhaps hard to accept that four-month-old infants are in the business of formulating and revising hypotheses.
  .notes (Come to think of it, it’s quite hard to accept that adults typically acquire representations of unperceived objects by formulating and revising hypotheses.)
  .notes Also we might think of inference as something that a detective does.  It is not obvious that the same process is occurring in infants.
  .notes But these considerations are narrowly intuitive.
  .notes Science sometimes indicates that intuitions are wrong, even intuitions about very fundamental things like space and time.
  .notes And, most importantly, if infants aren’t making inferences on the basis of knowlegde, what are they doing that enables them to pass violation-of-expectation tasks?
  +line-through('.linethrough1')
  .notes I think we shouldn't try to challenge the simple view on the basis of intution.
  +show('.step2')
  .notes And we don't need to because there are also scientific reasons for rejecting the simple view.
  .notes One set of reasons concerns the apparent discrepancy between looking times and manual search ...


+slide
  .notes You've explored this topic in detail in essays and seminars, so I'll be quick here.
  .notes Very crudely, the position is this.
  p Responses to the occlusion of a desirable object
  ul
    li look (from 2.5 months)
      p.right.grey-text (Aguiar & Baillargeon 1999)
    li reach (7--9 months)
      p.right.grey-text (Shinskey & Munakata 2001)
  .notes The attraction of the simple view is that it explains the looking.
  .notes The problem for the simple view is that it makes exactly the wrong prediction about the reaching.
  .notes A lot of experiments have attempts to pin the discrepancy on extraneous factors like task demands.
  .notes But none of these attempts have succeeded.
  .slide
    .notes As Jeanne Shinskey, one of the researchers most dedicated to this issue says, 
    p.em-above.handout.show ‘action demands are not the only cause of failures on occlusion tasks’
    .handout.ctd \citep[p.\ 291]{shinskey:2012_disappearing}
    p.right Shinskey (2012, p. 291)



+slide
  .notes Commenting on discrepancies between preferential looking and visual search, this is an early view (contrast \citealp{Spelke:2001pg}).
  p.handout.show ‘These dissociations cast doubt on the view that visual search and preferential looking depend on a single mechanism […] operating in accord with a single set of principles. [...]
  p.em-above.handout.ctd.show ‘infants’ ability to perceive object identity over occlusion, as assessed in preferential looking tasks, and to track objects visually, as assessed in visual search tasks, do not draw on a 
    span.highlight1 single system of knowledge
    span . [...]
  +invert('.highlight1')
  .notes But what is a system of knowlegde?  What is this notion of system?
  .notes What Spelke goes on to say offers a clue.
  .slide
    p.em-above.handout.show ‘In Fodor’s (1983) terms, visual tracking and preferential looking each may depend on 
      span.highlight2 modular mechanisms
      span .’
    .handout.ctd \citep[p.\ 137]{spelke:1995_spatiotemporal}
    p.right Spelke et al (1995, p. 137)
    +words-bkg('.highlight2', 'yellow')
    .notes So at this point it seems Spelke is suggesting that knowledge of the principles of object perception may be modular.
    .notes What is modularity?  We'll consider this notion later.
    .notes For now I want us to take two things.
    .notes First, the discrepancy between looking and searching as measures of object representations makes trouble for the simple view (according to which the principles of object perception are simply known).
    .notes Second, the solution may be something called 'modularity' which we don't yet understand.

  



//- notes on possible additions--- not essential
    
  section.slide
    .words: .container_12: .grid_12
      p *todo* add examples from Spelke and Hespos 2001 pp 326-7
      p ‘when five-month-old infants observe first a single object that is occluded by a moving screen and then a second object that joins the first behind  he screen, they subsequently look longer when the screen is lowered to reveal one object (an unexpected outcome to adults, but one that is superficially familiar since only one object ever was visible in the scene at any given time) than when it is lowered to reveal two objects (Wynn, 1992)’
      p ‘when 2.5 month-old infants observe an object hidden either inside or behind a container and then see the object again when the container is moved to the side, they react differently depending on how the object is hidden (Hespos and Baillargeon, 2001a).’
      p \citep[pp.\ 326--7]{Spelke:2001pg}
      
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* add example of \citep{wang:2004_young}
      p  ‘In two experiments, 4-month-old infants were tested in VOE tasks with test trials only. The infants still gave evidence that they could represent and reason about hidden objects: they were surprised, as indicated by greater attention, when a wide object became fully hidden behind a narrow occluder (Experiment 1) or inside a narrow container (Experiment 2). These and control results demonstrate that young infants can succeed at VOE tasks involving hidden objects even when given no habituation or familiarization trials.’
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* include evidence from chicks (bears on nativism --- infants might learn it, but they needn't)
      
      
  section.slide
    .words: .container_12: .grid_12
      p *todo* must mention \citep{mccurry:2009_beyond}
      p ‘when task demands are minimal (successful performance requires only a direct reach through the fringe) young infants search reliably for hidden objects.’
