---
layout: 'deck_unit'
title: "Knowledge of Objects: Conclusions"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

- qq = {}
- qq.q1 = 'How do humans come to meet the three requirements on knowledge of objects?'
- qq.q2 = 'What is the relation between the principles of object perception and infants’ looking behaviours?'
- qq.q2a = 'Given that the simple view is wrong, what is the relation between the principles of object perception and infants’ competence in segmenting objects, object permanence and tracking causal interactions?'
- qq.q2b = 'The principles of object perception result in ‘expectations’ in infants.  What is the nature of these expectations?'
- qq.q3 = 'What is the relation between adults’ and infants’ abilities concerning physical objects and their causal interactions?'

+slide
  .notes: :t()
    In this lecture I have been considering several interlocking themes simultaneously.
  p interlocking themes:
  ul.notes.show
    li the Problem
    li knowledge of causal interactions
    li relation of infant to adult cognition
  +highlight-row('li:eq(1)','grey')
  .notes: :t()
    Concerning knowledge of causal interactions, what have we learnt?
    Infants, like adults, have perceptual systems that enable them to detect some kinds of 
    causal interaction.
    Now this does not mean, I think, that they have knowledge of particular causal interactions.
    To attribute them such knowledge would conflict with their failures to act.
    (Link this to the Hood et al experiment, intially presented as about permanence:
    *TODO* **add three slides**: spelke ball drop, hood et al, leslie and keeble --- I want to
    say these three all have a common explanation, namely perceptual mechanisms.)

  +unhighlight-row_('li:eq(1)','grey')
  +highlight-row('li:eq(0)','grey')
  .notes: :t()
    Concerning knowledge of physical objects, there were several questions ...
    First, #{qq.q2a}
    These principles describe the operation of a module whose function concerns objects.
    The principles describe the operations of the system of object indexes.
    (So the principles are not necessarily represented at all.)
  .notes: :t()
    Second, and relatedly, #{qq.q2b}
    The expectations are perceptual expectations and the result of modular, computational processes.
    The expectations are neither knowledge nor perceptions.
    They are rather representations internal to the system of object indexes.
    (This is why we get the two discrepancies between spontaneous looking and purposive actions 
    like searching.)

  +unhighlight-row_('li:eq(0)','grey')
  +highlight-row('li:eq(2)','grey')
  .notes: :t()
    #{qq.q3}
    What is the relation between infants' and adults' capacities?  
    Nonhuman adult primates plus representational momentum plus causal interaction : 
    cautiously go for continuity (as in the case of categorical perception of colour)



// *todo duplicated from unit_221
section.slide
  .notes So earlier I contrasted these two views.
  .notes I think on balance the second is right.
  .notes Why?  *Nonhuman adult primates plus representational momentum plus causal interaction 
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3.slide
      +colour-ball('yellow', '50')
    .grid_3.slide
      +colour-ball('yellow', '75')
    .grid_3.slide
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .slide.container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    


  
+slide({bkg:'slide_causation_development.jpg'})
  .notes: :t()
    One last thing
    There is a question how you get from core knowledge of objects to knowledge of objects.
    We won't discuss this, but I think tool use is quite plausible.
    Basic forms of tool use may not require understanding how objects interact 
    (Barrett, Davis, & Needham; Lockman, 2000), and may depend on core cognition of 
    contact-mechanics (Goldenberg & Hagmann, 1998; Johnson-Frey, 2004). Experience of 
    tool use may in turn assist children in understanding notions of manipulation, a 
    key causal notion (Menzies & Price, 1993; Woodward, 2003). Perhaps non-core capacities 
    for causal representation are not innate but originate with experiences of tool use.	
