---
layout: 'deck_unit'
title: "Knowledge of Objects: Conclusions"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

- qq = {}
- qq.q1 = 'How do humans come to meet the three requirements on knowledge of objects?'
- qq.q2 = 'What is the relation between the principles of object perception and infants’ looking behaviours?'
- qq.q2a = 'Given that the simple view is wrong, what is the relation between the principles of object perception and infants’ competence in segmenting objects, object permanence and tracking causal interactions?'
- qq.q2b = 'The principles of object perception result in ‘expectations’ in infants.  What is the nature of these expectations?'
- qq.q3 = 'What is the relation between adults’ and infants’ abilities concerning physical objects and their causal interactions?'

+slide
  .notes In this lecture I have been considering two interlocking themes simultaneously.
  .notes These are (i) knowledge of physical objects; and (ii) knowledge/representation/modularity.
  p two interlocking themes:
    ul
      li knowledge of physical objects
      li knowledge/representation/modularity
  +row-bkg('li:eq(0)','grey')
  .notes Concerning knowledge of physical objects, there were three questions ...


+slide
  .notes Concerning knowledge of physical objects, there were three questions ...
  p questions
  p.em-above 1. #{qq.q1}
  .notes First, because of core knowledge (= modular cognition) of prinicples of object perception like boundedness and no action at a distance
  .notes Second, this core knowledge is a consequence of object indexes.
  .notes So we meet the three requirements because the way our perceptual systems work.
  .slide.step2 
    p.em-above 2a. #{qq.q2a}
    .notes Given that the simple view is wrong, what is the right view of the relation between the principles of object perception and infants' competence in segmenting objects, object permanence and tracking causal interactions? 
    .notes These principles describe the operation of a module whose function concerns objects.
    .notes  The principles describe the operations of the system of object indexes.
    .notes (So the principles are not necessarily represented at all.)
  .slide.step3 
    p.em-above 2b. #{qq.q2b}
    .notes The expectations are perceptual expectations and the result of modular, computational processes.
    .notes The expectations are neither knowledge nor perceptions.
    .notes They are rather representations internal to the system of object indexes.
    .notes (This is why we get the two discrepancies between spontaneous looking and purposive actions like searching.)
  .slide.step4
    p.em-above 3. #{qq.q3}
    .notes What is the relation between infants' and adults' capacities?  Nonhuman adult primates plus representational momentum plus causal interaction : cautiously go for continuity (as in the case of categorical perception of colour)



// *todo duplicated from unit_221
section.slide
  .notes So earlier I contrasted these two views.
  .notes I think on balance the second is right.
  .notes Why?  *Nonhuman adult primates plus representational momentum plus causal interaction 
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3.slide
      +colour-ball('yellow', '50')
    .grid_3.slide
      +colour-ball('yellow', '75')
    .grid_3.slide
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .slide.container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    


  
+slide({bkg:'slide_causation_development.jpg'})
  .notes One last thing
  .notes There is a question how you get from core knowledge of objects to knowledge of objects.
  .notes We won't discuss this, but I think tool use is quite plausible.
  .notes Basic forms of tool use may not require understanding how objects interact (Barrett, Davis, & Needham; Lockman, 2000), and may depend on core cognition of contact-mechanics (Goldenberg & Hagmann, 1998; Johnson-Frey, 2004). Experience of tool use may in turn assist children in understanding notions of manipulation, a key causal notion (Menzies & Price, 1993; Woodward, 2003). Perhaps non-core capacities for causal representation are not innate but originate with experiences of tool use.	
