---
layout: 'deck_unit'
title: "Intentions and Goals"
tags: []
description: "What do six- or twelve-month-old infants understand of actions and their goals?  Or, as I like to put the quesiton, What model of action underpins infant cognition of action?  Is it a model on which actions are related to goals by intentions?  Or could they be using another, perhaps simpler model of the relation between actions and the goals to which they are directed?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins


+slide_middle
  .notes In this section we ask, What do infants understand of actions and their goals?
  .notes Or, as I like to put the quesiton, What model of action underpins infant cognition of action?
  p.center What do six- or twelve-month-old infants understand of actions and their goals?

+slide_img('slide_budapest_lecture05_03.jpg')
  .notes What is the relation between an action and the outcome or outcomes to which it is directed?

+slide_img('slide_budapest_lecture05_04.jpg')
  .notes One feature of actions is that, among all their actual and possible outcomes, some are goals to which they are directed.
  .notes I seize little Isabel by the wrists and swing her around, thereby  making her laugh and breaking a vase.
  .notes You might wonder what the goal of my action was.
  .notes Did I act in order to break the  vase or to make Isabel laugh?
  .notes Or was my action perhaps directed to some other goal, one that was not realised so that my action failed?
  .notes 
  .notes A basic challenge for an account of action is to explain the relation between actions and the goal or goals to which they are directed.
  .notes Among all of the actual and possible outcomes of an action, which are goals of the action?

+slide_img('slide_budapest_lecture05_05.jpg')
  .notes The standard answer to this question involves intention.
  .notes An intention (1) represents an outcome, (2) causes an event; and (3) causes an event whose occurrence would normally lead to the outcome’s occurrence.
  .notes What singles out an actual or possible outcome as one to which the component actions are collectively directed?  It is the fact that this outcome is represented by the intention.
  .notes 
  .notes So the intention is what links an action to the outcomes to which it is directed.

+slide_img('slide_budapest_lecture05_06.jpg')
  .notes Now we have to ask, What is an intention?
  

+slide_img('slide_budapest_lecture05_07.jpg')
  .notes First note that goals are not intentions.
  .notes Goals are actual or possible outcomes.
  .notes They are states of affairs.
  .notes Intentions, by contrast, are or involve mental states that represent a goal.
  .notes It would be a terrible mistake to confuse a goal with a goal-state.
  .notes That would be like confusing a person with a photograph.
+slide_img('slide_budapest_lecture05_08.jpg')
  .notes So what is an intention?
+slide_img('slide_budapest_lecture05_09.jpg')
  .notes [*new route: for the purposes of understanding these agents, we want the simplest possible notion of intention; so we'll take intention as an action-causing belief-desire pair.
  .notes The idea I want to consider is, surprisingly, that there are no such things as intentions.
  .notes \begin{quote}
  .notes.handout  `The expression `the intention with which James went to church' has the outward form of a description, but in fact it
  .notes.handout ...\ % is syncategorematic and 
  .notes.handout cannot be taken to refer to an entity, state, disposition, or event. Its function in context is to generate new descriptions of actions in terms of their reasons; thus `James went to church with the intention of pleasing his mother' yields a new, and fuller, description of the action described in `James went to church'.' 
  .notes.handout.ctd \citep[p.\ 690]{davidson:1963_orig}
  .notes \end{quote}
  .notes What motivates this view?
  .notes We already have beliefs and desires in our model of action explanation.
  .notes Introducing intentions as additional mental states would make the model more complicated.
  .notes So if we can do without intentions, we should do so in the interests of simplicity.

+slide_img('slide_budapest_lecture05_10.jpg')
  .notes But how can we do without intentions?
  .notes Haven't we just seen that we need intentions in order to explain the relation between an action and the goal or goals to which it is directed?

+slide_img('slide_budapest_lecture05_11.jpg')
  .notes Here's how Davidson's view works.
  .notes James desired to please his mother.
  .notes James believed that going to church would please his mother.
  .notes And this belief and desire caused his going to church.

  .notes So the belief--desire pair can play the role of an intention.  
  .notes It (1) represents an outcome---in this case, the pleasing of James' mother---, (2) causes an event---James' going to church---; and (3) causes an event whose occurrence would normally lead to the outcome’s occurrence.

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes It appears, then, that we can explain the relation between an action and the goal or goals to which it is directed just in terms of belief and desire.
  .notes We don't need to introduce intentions as further mental states.
  .notes If we like we can say that an intention just is a suitable, action-causing belief-desire pair.

  .notes This view of intention is parallel to a view about knowledge.
  .notes Some suppose that knowledge is justified true belief.  
  .notes Or belief meeting some condition like being true and justified.
  .notes On this sort of view, knowledge is not a mental state over and above belief.
  .notes Rather, there are just beliefs and some of these beliefs have a special status.
  .notes Similarly, Davidson's idea might be put by saying that intentions are just action-causing belief--desire pairs.
  .notes (This is not to say that \emph{any} belief--desire pair is an intention, of course.)


+slide
  .notes Let me give you one more example.
  .notes Let's assume that we know what beliefs and desires are.
  .notes It's a familiar idea that they combine to cause actions like this:
  p Belief: that if I don’t comb my hair I will get rabies.
  p.em-above Desire: that I don’t get rabies.
  p.em-above.slide Baldric combed his hair with 
    span.the-intention the intention
    span  of avoiding rabies.
  +invert('.the-intention')
  .notes To say that he had the intention to avoid rabies is, on this view, just to say that his action was caused by a belief and a desire with these contents.

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes Now this isn't the right way to model adults' understanding of intention, but it's an approximation that works in the cases we're concerned with.
  .notes (Interesting question is why we can't stop with intention = action-causing belief-desire pair and what intentions are for, but this is a topic for the course about reasons and actions.])

//- who understands intentions?
+slide({bkg:'slide_budapest_lecture05_32.jpg'})
  .notes Tomasello and Call say that this *is* the model of action that underpins primate cognition
  .slide
    div(style="margin-top:300px;")
      .notes And we saw earlier that Premack says the same about infants, although not everyone agrees.
      p ‘in perceiving one object as having the intention of affecting another, the infant attributes to the object [...] intentions’
      p.right Premack 1990: 14

+slide_img('slide_budapest_lecture05_12.jpg')
  .notes So should we just stop here?
  .notes There are at least two reasons not to stop but rather to look for alternative models of action.
  +blur2('img:eq(0)')
  .notes (a) It would be good to see if there is a simpler way of understanding this relation, perhaps one that doesn't involve insight into mental states.
  .notes (b) Minimal theory of mind ... presupposes an understanding of goal-directed action.
  .notes (You might say, on minimal theory of mind that instead of beliefs and desires we could combine registration and preference; but that would affect the construction since registration was explained in terms of goal-directed action).
  .notes So, is there a simpler model of the relation, one that infants might understand?






