---
layout: 'deck_unit'
title: "Perception of Causation"
tags: []
description: "Can humans perceive causal interactions?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

+slide_middle
  .notes I'm going to explain something that seems like it doesn't fit.
  .notes It does fit, but I can't explain how for a while.
  p.center have you lost the plot?

+slide_middle
  .notes The question for this section is, 
  p.notes.show.center Can humans perceive causal interactions?

+slide
  .notes adults: (a) verbal reports.  So what?
  img(src='/img/thines_1991_fig.png')
  p.source Thines et al (1991)
  .handout ‘There are some cases … in which a causal impression arises, clear, genuine, and unmistakable, and the idea of cause can be derived from it by simple abstraction in just the same way as the idea of shape or movement can be derived from the perception of shape or movement’ 
  .handout.ctd \citep[p.\ 270--1]{Michotte:1946nz}


+slide
  .notes adults: (b) they can discriminate between short gaps and long gaps.
  .notes That is, the can discriminate gaps of around 50ms.
  img(src='/img/michotte_1946_table_ix_part.png')
  p.source Michotte 1946 [1963], p. 115 table IX (part)

+slide
  .notes Maybe this is clearer as a figure.
  img(src='/img/michotte_1946_table_ix_as_figure.png')
  p.source Michotte 1946 [1963], p. 115 table IX (part)

+slide
  img(src='/img/scholl_2000_fig2.png', height='500px')
  p.source Scholl & Tremoulet 2001, figure 2
  
+slide
  .notes.handout Infants seem also to distinguish launching from other sequences, much as adults do \citep{Leslie:1987nr}.
  .notes Several people have discussed this in seminars so I won't discuss it here (the reference is on your handout).
  img(src='/img/leslie_1987_fig4.png')
  p.source Leslie & Keeble 1987, figure 4
  
+slide_middle
  .notes First guess at how this works.  First you perceive objects.  Then you identify causal interactions based on contiguity etc.
  p.center Guess how this works.

+slide
  .notes illusory causal cresecents.
  .notes This depends on causal capture \citep{Scholl:2002eb}.
  .notes Normally, if the two balls overlap completely, subjects report seeing a single object changing colour.
  +img_clip('scholl_2004_fig2ab.png', 'rect(0,240px,550px,0px)')
  p.source Scholl and Nakayama 2004, figure 2 (part)
  +clip('img:eq(0)','auto')
  .notes But if we show subjects a sequence like the launching effect but where the first square overlaps the second's position before it moves.  When this event is shown is isolation almost all subjects see it as a single object changing colour.  But when the event is shown with an unambiguous launching effect nearby, almost all subjects now see the 'overlap' event as a launching.
  .notes Causal capture means that we can show subjects a sequence with complete overlap and still have the report a causal effect.
  .notes.handout ‘when there is a launching event beneath the overlap (or underlap event) timed such that the launch occurs at the point of maximum overlap, observers inaccurately report that the overlap is incomplete, suggesting that they see an illusory crescent.’ 
  .notes.handout.ctd \citep[p.\ 461]{Scholl:2004dx}
  .notes.handout Why does the illusory causal crescent appear?  Scholl and Nakayama suggest a  
  .notes.handout ‘a simple categorical explanation for the Causal Crescents illusion: the visual system, when led by other means to perceive an event as a causal collision, effectively ‘refuses’ to see the two objects as fully overlapped, because of an internalized constraint to the effect that such a spatial arrangement is not physically possible. As a result, a thin crescent of one object remains uncovered by the other one-as would in fact be the case in a straight-on billiard-ball collision where the motion occurs at an angle close to the line of sight.’ 
  .notes.handout.ctd \citep[p.\ 466]{Scholl:2004dx}
  .notes *here or later?
  .notes Contrast Spelke’s view.
  .notes ‘objects are conceived: Humans come to know about an object’s unity, boundaries, and persistence in ways like those by which we come to know about its material composition or its market value.’
  .notes.ctd \citep[p.\ 198]{Spelke:1988xc}.

+slide
  .notes (*This just shows when the overlap event was perceived as causal; not essential.)
  .handout ‘just as the visual system works to recover the physical structure of the world by inferring properties such as 3-D shape, so too does it work to recover the causal …  structure of the world by inferring properties such as causality’ 
  .handout.ctd \citep[p.\ 299]{Scholl:2000eq}
  img(src='/img/scholl_2004_fig5.png')
  p.source Scholl and Nakayama 2004, figure 5

+slide
  .notes One last thing about the impression of launching.  It is judgement-independent.
  p judgement-independent
  img(src='/img/thines_1991_fig.png')
  p.source Thines et al (1991)

+slide_middle
  .notes So it's not that we first perceive objects and surfaces, and then identify causal interactions.
  .notes These experiments hint that identifying causal interactions is part of perceiving surfaces and objects.  (More on this later.)
  .notes So causal interactions may be perceived.
  .notes But in that case, perhaps the core knowledge system responsible for infants' abilities to track causal interactions is a perceptual system.
  .notes This is the first step towards a startling discovery ...
  p.center so what?

