---
layout: 'deck_unit'
title: "Two Breakthroughs"
tags: []
description: "Two scientific breakthroughs that have recently furthered understanding of how knowledge might emerge in development. The first breakthrough is the discovery that preverbal infants enjoy surprisingly rich social abilities, abilities which may well be foundational for later linguistic abilities and enable the emergence of knowledge (e.g. Csibra & Gergely 2009; Meltzoff 2007; Tomasello et al. 2005). A second breakthrough is the use of increasingly sensitive—-and sometimes controversial--methods to detect sophisticated expectations concerning causal interactions, numerosity, mental states and more besides in preverbal infants (e.g. Spelke 1990; Baillargeon et al. 2010)."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
  
section.slide.nodim
  .notes: :t()
    Recall that the question for this course is ...
    Our focus is on two breakthrough sets of findings.
    One concerns core knowledge, the other social interaction.
  .words.top-slide: .container_12
    .grid_5.left_half
      p.center
        strong core knowledge
      .notes Take core knowledge first. 
      .notes: :t()
        We will see that infants can tackle physics, number, agents and minds thanks to a set of 
        innate or early-developing abilities, often labelled `core knowledge'.
      .slide.nodim
        p We don't understand it.
        .notes It is important that we don't (yet) know what core knowledge is; `core knowledge' is a term of art.
        .notes I haven't explained what it is.
        .notes Rather, our position is this.
        .notes Some scientists talk about core knowledge, and formulate hypotheses in terms of it.
        .notes Since these hypotheses are supported by evidence, we can reasonably suppose they are true.
        .notes So there are some things we suppose are truths about core knowledge.
        .notes For instance, infants' core knowledge enables them to represent unperceived objects.
        .notes So we know some truths about core knowledge, but we don't know what it is.
        .notes You'd probably prefer it if I could tell you what core knowledge is first.
        .notes But here we have to work backwards.
        .notes We have to gather truths about this unknown thing, core knowledge.
        .notes And then we have to ask, What could core knowledge be given that these things are true?
      .slide.nodim.vanish
        p is like knowledge:
        ul
          li guides behaviour
          li involves something like inference
          li concerns abstract features
      .slide.nodim
        p is unlike knowledge:
        ul
          li no introspection
          li judgement-independent
          li domain-specific
          li signature limits
        .notes Several features distinguish core knowledge from adult-like understanding: its content is unknowable by introspection and judgement-independent; it is specific to quite narrow categories of event and does not grow by means of generalization; it is best understood as a collection of rules rather than a coherent theory; and it has limited application being usually manifest in the control of attention (as measured by dishabituation, gaze, and looking times) and rarely or never manifest in purposive actions such as reaching.
    +blur('.left_half')
    //- vygotsky hypothesis
    .slide.interlude-vygotsky
      +reset
        +clear-slide
          .notes Here is a bold conjecture about how humans come to know things.
          .words: .container_12: .grid_12
            .middle
              .handout \subsection{A Conjecture}
              p.handout.show: :t()
                ‘humans acquire knowledge at a pace far outstripping that found in any other 
                species. Recent evidence indicates that interpersonal understanding [...] 
                plays a pivotal role in this achievement.’
              .handout.ctd \citep[p.\ 40]{Baldwin:2000qq}
              p.right (Baldwin 2000, p. 40)
              // not on slides:
              .handout ‘functions traditionally considered hallmarks of individual cognition originated through the need to interact with others ...\ perception, action, and cognition are grounded in social interaction.’
              // p.right (Knoblich & Sebanz 2006, p. 103)
              .handout.ctd \citep[p.\ 103]{Knoblich:2006bn}
              .slide.vygostky-hypothesis
                .notes The challenge, of course, is to say *how* social interaction enables humans to come to know things.
                .handout Vygotskian Intelligence Hypothesis:
                p.handout.ctd.show ‘the unique aspects of human cognition ... were driven by, or even constituted by, social co-operation.’
                .handout.ctd \citep[p.\ 1]{Moll:2007gu}
                p.right (Moll & Tomasello 2007, p. 1)
                // not on slides:
                .handout ‘human cognitive abilities ... [are] built upon social interaction’
                .handout.ctd \citep{sinigaglia:2008_roots} %*page
                // p.right (Sinigaglia &Sparaci 2008)

    +hide('.interlude-vygotsky, .vygostky-hypothesis')
      
    
    .right-half-white
      .grid_5.prefix_1
        .words
          p.center
            strong social interaction
          .slide
            .notes: :t()
              Now turn to social interaction.
              Preverbal infants manfiest a surprising range of social abilities.  
              These include imitation, which can occur just days and even minutes after birth 
              (Meltzoff & Moore 1977; Field et al. 1982; Meltzoff & Moore 1983), imitative learning 
              (Carpenter et al. 1998), gaze following (Csibra & Volein 2008), goal ascription 
              (Gergely et al. 1995; Woodward & Sommerville 2000), social referencing (Baldwin 2000) 
              and pointing (Liszkowski et al. 2006).
              Taken together, the evidence reveals that preverbal infants have surprisingly rich 
              social abilities.
            ul
              li imitation
              li gaze following
              li secondary intersubjectivity
              li social referencing
              li pointing
              li goal ascription
              li language
            .notes: :t()
              One problem for us is that these two sets of findings are typically considered in 
              isolation, 
              although I think there are strong reasons to suppose that understanding the origins 
              of knowledge 
              will require thinking about both core knowledge and social interaction.


+slide_middle
  p working hypothesis:
  p core knowledge in certain domains is necesary for early forms of social interaction
  p and these are necessary to get from core knowledge of Xs to knowledge knowledge Xs
  .notes: :t()
    My working hypothesis is that we can't understand early forms of social interaction 
    without core knowledge;  
    and that we can't understand how core knowledge leads to knowledge proper without 
    social interaction.
  .notes: :t()
    The challenge is to understand how core knowledge and social interaction conspire 
    in the emergence of knowledge.

+slide_middle
  p.center development as rediscovery
  .notes: :t()
    To flesh this out, I want to introduce the idea that cognitive development is rediscovery.
    (But not exactly as Plato's myth had it.)
  .notes: :t()
    We can ask how humans get from one manifestation to the next.
    I want to suggest that it involves a process of rediscovery.
    I don't think it's a case of partial knowledge becoming gradually more complete.
    Rather, I think the representations at earlier stages shape 
    subject's body, behaviour and attention in ways that facilitate discovery at the next stage. 
  .notes: :t()
    And, most importantly, they enable increasingly right forms of social interaction.
    It is these social interactions---together with the bodily, behavioural and mental changes---that 
    enable subsequent re-discoveries. 
    So, on this view, the role of some early-developing abilities in explaining the later acquisition 
    of conceptual understanding does not involve direct representational connections; 
    rather the early developing abilities facilitate or enable social interaction 
    and influence attention and inform behaviour, 
    and these influences facilitate development.  
  
+slide_middle
  p.center
    img(src='/img/fig_rediscovery.png')
  .notes: :t()
    To make this vague idea slightly more concrete, let me zoom in. 
    I think having verbal labels for things sometimes helps with acquiring concepts of them.
    Now this sounds paradoxical. 
    Doesn't having a label for something mean being able to label correctly? 
    And how could you label correctly without the corresponding concept? 
    My suggestion is that having core knowledge is not having a concept (many disagree); 
    but core knowledge could underpin your correct use of a label. 
    Now labels are acquired through social interaction, or so I suggested earlier. 
    Hence the picture. 
  .notes: :t()
    Now this picture needs two qualifications. 
    First, it's missing some details, and these details will vary from case to case 
    (what's true of knowledge of objects might not be true of knowledge of number). 
    Second, the picture might be completely wrong. 
    But even if the picture is wrong, I'll bet that social interaction and core knowledge are both 
    essential for explaining how humans come to know things. 
    So I don't claim to know how these two are necessary, only that they are. 
    In fact my aim isn't primarily to explain to you how these two factors explain the origins of 
    mind. 
    Instead my hope is this. 
    I'll give you the background on social interaction and core knowledge. 
    And you'll tell me how these two (or perhaps other factors) are involved in explaining how 
    humans come to know things about objects, colours, actions, numbers and the rest. 
  
  


  //-
    071
    core knowledge
    - brief characterisation from the rediscovery word document
      - also mention:
        - signature limits,
        - present in infants, persists in adults; present in non-human animals
        - can be overcome
    - core knowledge poses a problem: it ain't knowledge
    - use the Haith quote: “no concept causes more problems in discussions of infant cognition than that of representation.” (Haith 1998)
      - also Dennett don't know what we mean by representation
