---
layout: 'deck_unit'
title: "From Segmentation to Permanence"
tags: []
description: "Abilties to represent unperceived objects as persisting are conceptually distinct from abilities to segment objects.  But it appears that a single set of principles might explain both abilities, at least in humans."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

// **todo** idea of this unit is ot use Spelke et al 1995 on continuity as a bridge from segmentation to permanence
// the two things are conceptually distinct but closely related
// eventual conclusion will be that the same principles explain both


+slide_middle
  .notes Although segmentation and permanence are conceptually distinct, they are closely related 
    | because movement is a clue to segmentation and movement sometimes invovles occlusion.
  .notes This becomes evident if we think about one more principle of object perception, the principle of continuity.
  p principle of continuity---
  p an object traces exactly one connected path over space and time
  .handout \emph{Principle of continuity}  An object traces exactly one connected path over space and time \citep[p.\ 113]{spelke:1995_spatiotemporal}.  

+slide
  .notes We easily understand this principle by considering cases that accord with, and violate, it.
  .notes Here is motion in accord with it.
  +img_clip('spelke_1995_fig1.png', 'rect(0px, 824px, 200px, 0px)')
  .handout \begin{center}
  .handout \includegraphics[scale=0.3]{../www.slides/src/files/img/spelke_1995_fig1.neg.png}
  .handout \end{center}
  p.source Spelke et al (1995, figure 1)
  .slide
    .notes Here is one violation of continuity.
    +img_clip('spelke_1995_fig1.png', 'rect(250px, 350px, 627px, 0px)')
    .notes And here is another violation of continuity.
    +clip('img:eq(1)', 'rect(250px, 824px, 627px, 0px)')
  

+slide
  .notes \citet{spelke:1995_spatiotemporal} tested sensitivity to the principle of continuity in 4-month-old infants.
  .notes The infants were habituated to one of two displays.
  +img_clip('spelke_1995_fig2.png', 'rect(0px,300px,250px,0px)')
  p.source Spelke et al (1995, figure 2)
  +clip('img:eq(0)', 'rect(0px,800px,250px,0px)')
  .notes Now in the continuous event we should perceive one object whereas in the discontinous event we should perceive two objects.
  .notes But is this about segmentation or persistence?
  .notes Segmentation since it's about distinguishing one object from another; 
    |  and persistence since it's about representing temporarily unperceived objects.
  .slide
    +img_clip('spelke_1995_fig2.png', 'rect(300px,300px,600px,0px)')
    .notes They were then shown one of two test stimuli.
    +clip('img:eq(1)', 'rect(300px,800px,600px,0px)')
    .notes The measure was the degree of dishabituation as measured by looking time.

+slide
  div.scale080
    +img_clip('spelke_1995_fig3.png','rect(0px,800px,350px,0px)')
  p.source Spelke et al (1995, figure 3)
  +clip('img:eq(0)','auto')
  .notes What's beautiful about these results is that the two groups show opposite patterns of dishabituation.

+slide_middle
  .notes The principles of object perception are not just about infant perception; they are also supposed to explain how adults segment objects too.
  .notes How is this tested with adults?
  .notes It's really neat but I don't have time to tell you about it.
  .notes There's something called the object-specific preview effect which can give us a measure of when adult humans' perceptions treat two presentations as the same object.
  p.center object-specific preview effect


+slide_middle
  .notes So the abilities to segment objects and to represent them as persisting are conceptually distinct.
  .notes However it may be that knowledge of a single set of principles underlies both abilities.
  .notes This is one of Spelke's brilliant insights.
  .notes Where does this leave us?
  .notes We still want to know about the status of the principles of object perception.
  .notes But we now the question is more pressing.
  .notes Because the claim that these principles of object perception explain infants' (and adults', and other primates') performance is now harder to reject.
  .notes It's harder to reject because we have converging evidence for the psychological reality of the principles from both segmentation and permanence.
  .notes Before we go any further, let me say a little more about permanence (even though we've already considered it) ...
  .container_12
    .grid_6
      p principles of object perception
    .grid_2
      p.stretch-5  {
    .grid_4
      .kludge(style='margin-top:-30px;margin-left:-50px;')
        p segmentation
        p permanence
        p ... (?)

