---
layout: 'deck_unit'
title: "An utterance"
tags: []
description: "An utterance is an action with a complex structure.  Recovering this structure requires several transitions: from continous sounds and bodily movements to phonetic gestures; from phonetic gestures to words; and from words to clauses and sentences.  One question about communication by language is, How are humans able to make these transitions?"
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


+slide_middle
  .notes Linguistic communication is 'the indispensable instrument of fine-grained interpersonal understanding' (Davidson 1990: 326).
  .notes It enables us to pool knowledge and coordinate our actions.
  .notes Possessing language also allows us to share our lives in ways far more intimate than we could manage without it. 
  .notes Today's question is, How could humans come to have abilities to communicate by language?
  .handout How could humans come to have abilities to communicate by language?
  .notes This question is complex because abilities to communicate involve both comprehension and production.
  p.center language
  
+slide
  .notes Today's question is also complex because we're starting at the far end of a chain.
  .notes You might thing, before we ask about communication by language we should ask about communicative actions, and before we ask about communicative actions we should ask about actions.
  .notes I wondered about aproaching it that way too, starting with action and working up.
  .notes But in the end I thought that right now you most of you are probably most interested in language, so most of you would probably find it most interesting to go backwards.
  img(src='/img/fig_action_communicative_linguistic.png')

+slide
  .notes Today's question is also complex because we don't actually know very much about the nature of communication by language.
  .notes This makes talking about the *acquisition* of abilities to communicate with words tricky.
  .notes We lack a clear understanding of the thing to be acquired.
  .notes Sperber and Wilson attempt to explain do human beings communicate with one another.
  p ‘How do human beings communicate with one another?’ (Sperber and Wilson 1986/95: 1)
  .notes You might say, well let's not study acquisition at all, let's study the endpoint first.
  .notes But I don't think this is an option because understanding what the endpoint is and understanding how it is acquired are things we have to do simultaneously.
  
  
+slide
  .notes Chomsky holds that ‘the topic of successful communication in the actual world is far too complex and obscure’ to say anything systematic about (Chomsky 1992: 120). It’s a mistake, he thinks, to try to understand language by focussing on communication (compare Chomsky 2000: 30). I take Chomsky’s position seriously: we are going to have to question whether we’re asking the right question.
  p ‘the topic of successful communication in the actual world is far too complex and obscure’
  p.right (Chomsky 1992: 120)
  .notes If we are to make the topic of communiation with language tractcbale at all, we must start by breaking the question down.
  .notes To this end we need to ask ...

// ***todo put Jackendorf figure on handouts

+slide_middle
  .notes As background we have to ask, What is language?
  p.center What is language?
  .notes The truth is extremely complex.
  .notes But we need only a relatively simple picture ...

// *todo ? explain that we need syntax not just lexicon by illustrating with bhasa indonesia?


// **todo uncover image slowly, top to bottom

+slide({bkg:'slide_isabel_slept.jpg'})  
  .notes Consider an utterance of sentence like 'Isabel slept and Lily cried'.
  .notes What is the structure of this utterance?
  .notes First we can break the sentence down into two sentences and a connective.
  .notes Then we break these into words.
  .notes And the words break down into phonemes.
  .notes Which are eventually realised in continous bodily movements and the sounds these produce.
  .notes This is a very simplified picture.
  .notes But already we can see that comprehending an utterance will involve several steps.
  .notes Consider someone experiencing linguistic communication for the first time.
  .notes She is experiences continuous bodily movements and their acoustic consequences.
  .notes From these she has somehow to extract the phonetic gestures.
  .notes And then she has to group the phonetic gestures into words.
  .notes And finally she has to work out the syntactic structure of the words.
  .notes How does this help?
  .notes It turns out that the abilitues to make these different steps involves largely different mechanisms, and that the steps can be made independently of each other (not that there aren't bottom-up and top-down effects, just that these appear to be inessential in some cases).
  .notes Our question can be broken down accordingly.
  .notes Our question How do humans come to have abilities to communicate by language?
  .notes We can break the process of language comprehension into a series of transitions, from bodily movements and their acoustic effects to phonemes &c.
  .notes And we can think of language production as involving the same transitions, but in reverse.
  .notes And then our question can be broken down accordingly.
  .notes We don't have to ask how humans come to have abilities to communicate by language all in one go.
  .notes Instead we can ask how humans come to be able to identify phonemes in continous bodily movements and their acoustic effects, and how they come to identify words from uninterrupted sequences of phonemes, and so on.
  .notes In this way, our question becomes tractable.
  
+slide_middle
  p.center meaning
  .notes So far I haven't mentioned the one feature of communication by language that almost all philosophers focus on, meaning.
  .notes I think meaning is a problematic notion, and problematic in ways that will affect our attempt to understand how communication by language emerges.
  .notes But we haven't got all day, so I want to put this to one side for as long as possible.


//
  ***todo *here* explain   sentence  utterance  proposition
  +slide
    p sentences:
    ol
      li Utterances express propositions.
      li Which proposition expresses depends in part on which sentence it is an utterance of.
      li Sentences have meanings; the meaning of the sentence plus the context of utterance determines which proposition the utterance expresses.
      li Users of a language know the meanings of sentences in that language.
      li Knowing the meaning of a sentence someone utters enables one to know which proposition her utterance expresses.
    p utterances:
    ol
      li words have meanings
      li speakers know the meanings of words
      li the meanings of words, together with rules of composition, determine the meanings of sentences
      li speakers are thus able to know the meanings of sentences by virtue of knowing the meanings of words and rules of composition

//      
  +slide
    p But what is meaning?
    p meaning of a sentence: whatever it is knowledge of which enables language users to understand utterances of that sentence (that is, to know which proposition the utterer expresses)
    p meaning of a word: whatever it is knowledge of which, together with knowledge of rules for composition, enables language users to know the meanings of sentences containing the word.  
