---
layout: 'default2'
title: 'Lecture 06'
weburl: ''
units: []
lecture_date: '2013/11/14'
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})



//- What is an utterance
+insert_unit({unit:'501', title_slide:false, images:images})

//- Davidson - If someone can think, she can communicate with language
+insert_unit({unit:'511', title_slide:true, images:images})

//- First view: training / lab rat
+insert_unit({unit:'521', title_slide:true, images:images})

//- understanding
+insert_unit({unit:'531', title_slide:true, images:images})

//- linguistic Creativity
+insert_unit({unit:'541', title_slide:true, images:images})

//- Bloom &c
+insert_unit({unit:'551', title_slide:true, images:images})

//- Summary
+insert_unit({unit:'561', title_slide:true, images:images})

//- Grice
+insert_unit({unit:'571', title_slide:true, images:images})

//- Second view: shipwreck survivor (Bloom)

//- Against the second view

//- Third view: social interaction

//- Against the third view

//- Conclusion