---
layout: 'default2'
title: 'Lecture 02'
weburl: ''
units: []
lecture_date: '2013/10/10'
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})

//- 
  should every lecture have something on core knowledge and something on social interaction?
  Just a quick skit on this or that finding, e.g. Baldwin?
  Would seem to lack coherence!
  


section.slide
  .notes The question for this course is ...
  .notes We are going to approach this question by examining the evidence from developmental science, 
    span exploring how it bears on philosophical positions like nativism and empiricsm, 
    span and identifying philosophical problems created by the evidence.
  .notes Our focus is on two breakthrough sets of findings.
  .notes One concerns core knowledge, the other social interaction.
  .notes One problem for us is that these two sets of findings are typically considered in isolation, 
    span although I think there are strong reasons to suppose that understanding the origins of knowledge 
    span will require thinking about both core knowledge and social interaction.
  .words: .container_12: .grid_12
    .middle
      p.center recap

section.slide
  .notes My working hypothesis is that we can't understand early forms of social interaction without core knowledge;  
    span and that we can't understand how core knowledge leads to knowledge proper without social interaction.
  .notes The challenge is to understand how core knowledge and social interaction conspire in the emergence of knowledge.
  .words: .container_12: .grid_12
    .middle
      p.center challenge
  .notes Well, that's the big picture.
  .notes But at this stage in the course I simply want to introduce you to some of the key findings and the puzzles they raise.

section.slide 
  .notes If you've seen the outline of lectures, you'll know that my idea is to organise the lectures by domains of knowledge.
  .words: .container_12
    .grid_3
      p plan
    .slide
      .notes The topics are these.
      .notes I'm not always intending to do one lecture per topic.  
      .notes Rather, in most of these lectures I'm planning to talk about two or more topics.
      .notes This risks making things seem fractured.
      .notes But I hope it will make the material easier to absorb and the lectures more interesting.
      .grid_9
        .topics
          p social interaction
          p objects and how they interact
          p numbers
          p.today seeing and talking about colours
          p words and other communicative tools
          p actions: teleology and motor awareness
          p minds
        +blur_('.topics :not(.today)')
        +row-bkg('.today', 'white')
        .notes Today's topic is colour.
        .notes In some ways this is an odd topic to do first, or at all.
        .notes I've chosen to do colour for three reasons.
          ul
            li It's fun
            li It's a relatively simple case, and one that provides a model for other cases.
            li It challenges almost any prior assumption you might make about the emergence of knowledge.


//- knowledge of colour: the question
mixin insert_unit({unit:'110', title_slide:true, images:images, handout:false})

//- first something on categorical perception of colour
//- what is categorical perception of colour?
mixin insert_unit({unit:'111', title_slide:true, images:images})

//- categorical perception of colour in infancy  
mixin insert_unit({unit:'121', title_slide:true, images:images})
  
//- categorical perception and knowledge
mixin insert_unit({unit:'131', title_slide:true, images:images})
  
//- categorical perception in infants and adults --- how related?
mixin insert_unit({unit:'141', title_slide:true, images:images})

//- might have gone on to do relation between categorical perception and core knowledge, unit 151 (not yet finished)

