---
layout: 'default2'
title: 'Lecture 09'
weburl: ''
units: [] 
lecture_date: '2014/12/03'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/origins_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})



//- models, systems and the Emergence Challenge
+insert_unit({unit:'995', title_slide:true, images:images})



+section({images:images, title:'Action'})

//- from origins mixins
+slide_diagram_core_knowledge_to_concept

+slide
  img(src='/img/fig_action_communicative_linguistic.png')
  .notes: :t()
    We asked about linguistic communication and didn't get a good answer.
    So we asked about non-linguistic communication and still didn't get a good answer.
    (There the problem was a divide between mere use (in the 'block-slab' sense) and
    a Grice-inspired view of communication as involving a nested structure of knowledge and intention.)
  .notes: :t()
    So let's go back one step further to action and see if that helps.

    

//- action
+insert_unit({unit:'701', title_slide:true, images:images})

//- how do infants model actions?
+insert_unit({unit:'706', title_slide:true, images:images})

//- which model of action
+insert_unit({unit:'711', title_slide:true, images:images})
 
//- pure goal ascription: teleological stance
+insert_unit({unit:'712', title_slide:true, images:images})

//- problems for the teleological stance?
//- NB : this was cut from Milan; should probably go from here too
//- NB some of this has been merged with unit 712 !!
//- +insert_unit({unit:'731', title_slide:true, images:images})

+insert_unit({unit:'741', title_slide:true, images:images})

//- +insert_unit({unit:'751', title_slide:true, images:images})


//- joint action

//- misunderstanding communicative actions through joint action (?)

//- shared intentionality

//- things we haven't covered (number; more on mindreading; speech perception; motor representation)




//- conclusion
+insert_unit({unit:'999', title_slide:true, images:images})
