---
layout: 'default2'
title: 'Lecture 06'
weburl: ''
units: []
lecture_date: '2014/11/13'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})



//- 
  Need some kind of recap to the problems and solutions I suggested
  - the Simple View 
  - is wrong
  - this is a problem (what else is it if not knowledge )
  - [sets the scene for core knowledge]
  

//- core knowledge: first pass
+insert_unit({unit:'601_warwick', title_slide:false, images:images})

//- objections to core knowledge:
+insert_unit({unit:'604', title_slide:true, images:images})


//- surely the philosophers can help us out here? ....
//- Core Knowledge and Modularity
+insert_unit({unit:'231', title_slide:false, images:images})

//- 
  object indexes, perceptual expectations
  categorical perception
  mindreading: automatic processes and minimal models
  ... considering all these together, maybe it is a mistake
  to think that we even need a domain-general notion of core knowledge!



//- syntax
+insert_unit({unit:'641', title_slide:true, images:images})

//- is knowledge of syntax knowledge?
+insert_unit({unit:'641', title_slide:true, images:images})


//- advertise cumberland lodge
+slide({bkg:'slide_cumberland_lodge_2014.jpg'})

+slide
  .notes Now I want to go back the main line of my plan, which calls for us to consider communication generally.
  img(src='/img/fig_action_communicative_linguistic.png')

