---
layout: 'default2'
title: 'Lecture 09'
weburl: ''
units: [] 
lecture_date: '2013/12/05'
---

include ../../fragments/lecture_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})

//- action
+insert_unit({unit:'701', title_slide:false, images:images})

//- which model of action
+insert_unit({unit:'711', title_slide:true, images:images})
 
//- pure goal ascription: teleological stance
+insert_unit({unit:'712', title_slide:true, images:images})

//- problems for the teleological stance?
+insert_unit({unit:'731', title_slide:true, images:images})

+insert_unit({unit:'741', title_slide:true, images:images})

//- +insert_unit({unit:'751', title_slide:true, images:images})


//- joint action

//- misunderstanding communicative actions through joint action (?)

//- shared intentionality

//- things we haven't covered (number; more on mindreading; speech perception; motor representation)




//- conclusion
+insert_unit({unit:'999', title_slide:true, images:images})
