---
layout: 'default2'
title: 'Lecture 07'
weburl: ''
units: []
lecture_date: '2013/11/21'
---

include ../../fragments/slide_mixins

- var images = get_images('bees')

mixin title_slide({document:document, images:images})



//- 
+insert_unit({unit:'601', title_slide:false, images:images})


//- syntax
+insert_unit({unit:'641', title_slide:true, images:images})


//- advertise cumberland lodge
+slide({bkg:'slide_cumberland_lodge_2014.jpg'})

+slide
  .notes Now I want to go back the main line of my plan, which calls for us to consider communication generally.
  img(src='/img/fig_action_communicative_linguistic.png')

//- pointing
+insert_unit({unit:'661', title_slide:true, images:images})
